@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 1rem;
  }
  body {
    font-family: "Noto Sans", sans-serif;
  }

    h1 {
    @apply text-4xl text-primary-900 md:text-3xl sm:text-2xl
  }
  h2 {
    @apply text-3xl text-primary-900
  }
  h3 {
    @apply text-xl text-primary-900
  }
  h4 {
    @apply text-lg text-primary-900
  }
  h5 {
    @apply text-base 
  }
}

@layer components {
  .btnFilled {
    @apply rounded bg-secondary-500 px-6 py-1 md:px-10 md:py-3 text-brz-white text-base tracking-wider text-center hover:bg-secondary-100 hover:text-brz-black
  }
  .btnOutlined {
    @apply rounded border border-secondary-500 px-6 py-1 md:px-10 md:py-3 text-brz-black text-base tracking-wider text-center hover:bg-secondary-100 hover:text-brz-black
  } 
}

@media (max-width: 1023px) { 
  .core-feature:nth-last-child(-n+3) {
    display: none;
  }
}


@media (min-width: 1024px) { 
  .core-feature:nth-last-child(-n+3) {
    display: inline;
  }
}

/* .core-feature {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
} */

.core-feature:hover {
  transform: translateY(-0.4rem);
  transition: transform 0.4s ease-in;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}



